body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

#app {
    max-width: 1200px;
    margin: 0 auto;
}

.column {
    flex: 1;
    background-color: #7c95df;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.columns {
    display: flex;
    gap: 20px;
}

.column.locked {
    opacity: 1;
    pointer-events: none;
}

.note-card {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.node-card h3{
    margin-top: 0;
}

.node-card ul {
    padding: 0;
    list-style-type: none;
}

.node-card li {
    margin-bottom: 10px;
}

.node-card label {
    display: flex;
    align-items: center;
}

.node-card input [type="checkbox"] {
    margin-right: 10px;
}